:root, * {
  box-sizing: border-box;
  font-size: 10px;
}

body * {
  font-size: 1.8rem;
  color: #eee;
}

a {
  color: unset;
  text-decoration: underline;
}

.container, .container-fluid {
  padding: 0;
}

.main {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('../images/space.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.date-container {
  background: rgba(255,255,255,0.15);
}

label, input {
  border: none;
}

input {
  background: rgba(255,255,255,0.05);
  border-bottom: 2px solid #eee;
}

.age {
  display: none;
}

.warning {
  display: none;
}

.alert {
  background: rgba(255,255,255,0.15);
  max-width: 500px;
  margin: 1rem;
  padding: 0.5rem;
  margin-left: 0;
}

.mercury-container, .venus-container, .mars-container, .jupiter-container {
  height: 200px;
  width: 200px;
}

.mercury:hover, .venus:hover, .mars:hover, .jupiter:hover {
  transform: scale(1.15);
  transition: all 0.35s ease-out;
  cursor: pointer;
}

.mercury {
  background: url('../images/mercury.png');
}

.venus {
  background: url('../images/venus.png');
}

.mars {
  background: url('../images/mars.png');
}

.jupiter {
  background: url('../images/jupiter.png');
}

.mercury, .venus, .mars, .jupiter {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

footer,
footer > * {
  margin: 0;
  padding: 0;
}